.carousel-control-prev,
.carousel-control-next {
  cursor: pointer;
}

.carousel-control-next-icon:after
{
  content: '\f105';
  font-family: 'FontAwesome';
  font-size: 60px;
  color: $primary;
}

.carousel-control-prev-icon:after {
  content: '\f104';
  font-family: 'FontAwesome';
  font-size: 60px;
  color: $primary;
}
