<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/output.css">

    <title>High-fidelity Wireframes</title>
  </head>
  <body>

    <header class="header">
      <div class="container d-flex align-items-center">
        <a class="logo" href="index.html">THE JOB PLUG</a>

        <nav class="d-none d-lg-block">
          <ul>
            <li><a href="index.html">Students</a></li>
            <li><a href="events.html">Events</a></li>
          </ul>
        </nav>

        <nav class="ml-auto d-none d-lg-block">
          <ul>
            <li><a class="px-2 ml-3" href="messages.html"><i class="fas fa-envelope"></i></a></li>
            <li><a class="px-2" href="#"><i class="fas fa-bell"></i></a></li>
            <li><a class="pl-2 pr-0" href="#"><i class="fas fa-cog"></i></a></li>
          </ul>
        </nav>

        <a class="d-xl-none ml-auto" data-toggle="collapse" data-target="#mobileNav"><i class="d-xl-none fas fa-bars"></i></a>

        <nav id="mobileNav" class="collapse navbar-collapse">

          <ul>
            <li><a href="index.html">Students</a></li>
            <li><a href="events.html">Events</a></li>
          </ul>

        </nav>
      </div>
    </header>

    <main>

      <section>
        <div class="container">
          <h1 class="text-left mb-3">Event title</h1>

          <div class="row">
            <div class="col-xs-12 col-md-8 mb-5 mb-md-0">
              <div class="mr-md-3">
                <article>

                  <img class="rounded w-100 mb-3" src="../../images/blog.png">

                  <p><small><a class="tag">Category</a> &nbsp;&middot;&nbsp; <a class="tag">Category</a> &nbsp;&middot;&nbsp; <a class="tag">Category</a></small></p>

                  <p>Sed sed purus finibus, pretium felis et, sollicitudin eros. Suspendisse consectetur neque lorem, eu congue dui efficitur id. Aenean vulputate ligula felis, vitae vulputate sem mattis aliquam. Praesent dapibus tincidunt neque vitae porttitor. Aliquam faucibus elit ac volutpat suscipit. Quisque ut vestibulum enim. Integer vehicula imperdiet ante sit amet rhoncus. Nam vel elit eget odio hendrerit ornare.</p>
                  <p>Sed sed purus finibus, pretium felis et, sollicitudin eros. Suspendisse consectetur neque lorem, eu congue dui efficitur id. Aenean vulputate ligula felis, vitae vulputate sem mattis aliquam. Praesent dapibus tincidunt neque vitae porttitor. Aliquam faucibus elit ac volutpat suscipit. Quisque ut vestibulum enim. Integer vehicula imperdiet ante sit amet rhoncus. Nam vel elit eget odio hendrerit ornare.</p>
                  <p class="mb-5">Sed sed purus finibus, pretium felis et, sollicitudin eros. Suspendisse consectetur neque lorem, eu congue dui efficitur id. Aenean vulputate ligula felis, vitae vulputate sem mattis aliquam. Praesent dapibus tincidunt neque vitae porttitor. Aliquam faucibus elit ac volutpat suscipit. Quisque ut vestibulum enim. Integer vehicula imperdiet ante sit amet rhoncus. Nam vel elit eget odio hendrerit ornare.</p>

                  <h2>Registration</h2>
                  <form>
                    <div class="form-group">
                      <input readonly class="form-control" type="text" value="Firstname Surname" required />
                    </div>

                    <div class="form-group">
                      <div class="row">
                        <div class="col-6">
                          <input readonly class="form-control" type="email" value="loggedinuseremail@gmail.com" required />
                        </div>
                        <div class="col-6">
                          <input class="form-control" type="tel" placeholder="Phone" required />
                        </div>
                      </div>
                    </div>

                    <div class="form-group mb-4">
                      <textarea class="form-control" placeholder="Special instructions" rows="5"></textarea>
                    </div>

                    <input class="btn btn-primary float-right" type="submit" value="Register for event">
                  </form>
                </article>
              </div>
            </div>

            <div class="col-xs-12 col-md-4">
              <div class="ml-md-3">

                <h3>Date &amp; Time</h3>
                <p class="mb-5">April 24th, 2019<br />
                  3:00 p.m. &ndash; 4:00 pm.m CST</p>

                <h3>Location</h3>
                <p>1005 Gramsie Rd. Suite. 204<br />
                  Apple Valley, MN 55126
                </p>

                <img class="rounded w-100" src="../../images/hero.png">

                <hr class="my-5" />

                <h3>Invite Students</h3>
                <div class="form-group">
                  <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Email Addresses">
                  <small id="emailHelp" class="form-text text-muted">Separate multiple email addresses by a comma.</small>
                </div>

                <p class="text-right mt-4"><a class="btn btn-primary js-goTo" href="../educator/index.html">Finish</a><p>

              </div>
            </div>
          </div>
        </div>
      </section>

    </main>

    <footer class="footer">
      <div class="container d-block d-md-flex align-items-center">
        <a class="logo" href="#">THE JOB PLUG</a>
        <p>&copy; 2019</p>

        <nav>
          <ul>
            <li><a href="about.html">About</a></li>
            <li><a href="marketing_blog.html">Blog</a></li>
            <li><a href="terms.html">Terms</a></li>
          </ul>
        </nav>

        <nav class="ml-auto">
          <ul>
            <li class="dropup"><a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Language</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">English</a>
                <a class="dropdown-item" href="#">Spanish</a>
              </div>
            </li>
            <li class="dropup"><a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-comments"></i></a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Purechat widget</a>
              </div>
            </li>
            <li><a href="faq.html"><i class="fas fa-question-circle"></i></a></li>
          </ul>
        </nav>
      </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
