<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/output.css">

    <title>High-fidelity Wireframes</title>
  </head>
  <body>

    <header class="header">
      <div class="container d-flex align-items-center">
        <a class="logo" href="index.html">THE JOB PLUG</a>

        <nav class="d-none d-lg-block">
          <ul>
            <li><a href="index.html">Students</a></li>
            <li><a href="events.html">Events</a></li>
          </ul>
        </nav>

        <nav class="ml-auto d-none d-lg-block">
          <ul>
            <li><a class="px-2 ml-3" href="messages.html"><i class="fas fa-envelope"></i></a></li>
            <li><a class="px-2" href="#"><i class="fas fa-bell"></i></a></li>
            <li><a class="pl-2 pr-0" href="#"><i class="fas fa-cog"></i></a></li>
          </ul>
        </nav>

        <a class="d-xl-none ml-auto" data-toggle="collapse" data-target="#mobileNav"><i class="d-xl-none fas fa-bars"></i></a>

        <nav id="mobileNav" class="collapse navbar-collapse">

          <ul>
            <li><a href="index.html">Students</a></li>
            <li><a href="events.html">Events</a></li>
          </ul>

        </nav>
      </div>
    </header>

    <main>

      <section>
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-md-8">
              <div class="mr-md-3">

                <div class="d-flex justify-content-between mb-4">
                  <h1 class="h2 text-left">Connected Students</h1>

                  <form>
                    <input class="form-control" type="search" placeholder="Search" />
                  </form>
                </div>

                <div class="row row-eq-height">
                  <div class="col-12 col-md-4 mb-5">
                    <div class="card card-user">
                      <div class="card-header">
                        <a href="profile-jobSearcher.html">
                          <img width="100" height="100" class="rounded-circle" src="../../images/avatar.png" />
                        </a>
                      </div>
                      <div class="card-body">

                        <h3><a href="profile-jobSearcher.html">Firstname Surname</a></h3>
                        <p>Cashier at <a href="#">Company Name</a></p>
                        <p class="m-0"><em>Minneapolis, MN</em></p>

                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-4 mb-5">
                    <div class="card card-user">
                      <div class="card-header">
                        <a href="profile-jobSearcher.html">
                          <img width="100" height="100" class="rounded-circle" src="../../images/avatar.png" />
                        </a>
                      </div>
                      <div class="card-body">

                        <h3><a href="profile-jobSearcher.html">Firstname Surname</a></h3>
                        <p>Cashier at <a href="#">Company Name</a></p>
                        <p class="m-0"><em>Minneapolis, MN</em></p>

                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-4 mb-5">
                    <div class="card card-user">
                      <div class="card-header">
                        <a href="profile-jobSearcher.html">
                          <img width="100" height="100" class="rounded-circle" src="../../images/avatar.png" />
                        </a>
                      </div>
                      <div class="card-body">

                        <h3><a href="profile-jobSearcher.html">Firstname Surname</a></h3>
                        <p>Cashier at <a href="#">Company Name</a></p>
                        <p class="m-0"><em>Minneapolis, MN</em></p>

                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-4 mb-5">
                    <div class="card card-user">
                      <div class="card-header">
                        <a href="profile-jobSearcher.html">
                          <img width="100" height="100" class="rounded-circle" src="../../images/avatar.png" />
                        </a>
                      </div>
                      <div class="card-body">

                        <h3><a href="profile-jobSearcher.html">Firstname Surname</a></h3>
                        <p>Cashier at <a href="#">Company Name</a></p>
                        <p class="m-0"><em>Minneapolis, MN</em></p>

                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-4 mb-5">
                    <div class="card card-user">
                      <div class="card-header">
                        <a href="profile-jobSearcher.html">
                          <img width="100" height="100" class="rounded-circle" src="../../images/avatar.png" />
                        </a>
                      </div>
                      <div class="card-body">

                        <h3><a href="profile-jobSearcher.html">Firstname Surname</a></h3>
                        <p>Cashier at <a href="#">Company Name</a></p>
                        <p class="m-0"><em>Minneapolis, MN</em></p>

                      </div>
                    </div>
                  </div>
                </div>


              </div>
            </div>
            <div class="col-xs-12 col-md-4">
              <div class="ml-md-3">
                <h3>Invite Students</h3>
                <div class="form-group">
                  <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Email Addresses">
                  <small id="emailHelp" class="form-text text-muted">Separate multiple email addresses by a comma.</small>
                </div>

                <p class="text-right mt-4"><a class="btn btn-primary js-goTo" href="../educator/index.html">Finish</a><p>


                <hr class="my-5" />

                <h3>Recommended Events</h3>
                <ul class="list list-events">
                  <li>
                    <img src="../../images/logo.png">
                    <div>
                      <h4>Lorem ipsum dolor sit amet</h4>
                      <p><i class="fas fa-map-marker-alt"></i> Location &nbsp;&middot;&nbsp; <span class="badge badge-primary">Category</span></p>
                    </div>
                  </li>
                  <li>
                    <img src="../../images/logo.png">
                    <div>
                      <h4>Event Name</h4>
                      <p><i class="fas fa-map-marker-alt"></i> Online Webinar &nbsp;&middot;&nbsp; <span class="badge badge-primary">Category</span></p>
                    </div>
                  </li>
                  <li>
                    <img src="../../images/logo.png">
                    <div>
                      <h4>Event Name</h4>
                      <p><i class="fas fa-map-marker-alt"></i> Location &nbsp;&middot;&nbsp; <span class="badge badge-primary">Category</span></p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>

    </main>

    <footer class="footer">
      <div class="container d-block d-md-flex align-items-center">
        <a class="logo" href="#">THE JOB PLUG</a>
        <p>&copy; 2019</p>

        <nav>
          <ul>
            <li><a href="about.html">About</a></li>
            <li><a href="marketing_blog.html">Blog</a></li>
            <li><a href="terms.html">Terms</a></li>
          </ul>
        </nav>

        <nav class="ml-auto">
          <ul>
            <li class="dropup"><a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Language</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">English</a>
                <a class="dropdown-item" href="#">Spanish</a>
              </div>
            </li>
            <li class="dropup"><a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-comments"></i></a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Purechat widget</a>
              </div>
            </li>
            <li><a href="faq.html"><i class="fas fa-question-circle"></i></a></li>
          </ul>
        </nav>
      </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
