<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/output.css">

    <title>High-fidelity Wireframes</title>
  </head>
  <body>

    <header class="header">
      <div class="container d-flex align-items-center">
        <a class="logo" href="index.html">THE JOB PLUG</a>

        <nav class="d-none d-lg-block">
          <ul>
            <li><a href="index.html">Students</a></li>
            <li><a href="events.html">Events</a></li>
          </ul>
        </nav>

        <nav class="ml-auto d-none d-lg-block">
          <ul>
            <li><a class="btn btn-secondary btn-sm" href="profile.html"><i class="far fa-address-card mr-1"></i> Profile</a></li>
            <li><a class="btn btn-secondary btn-sm ml-3" href="company_profile.html"><i class="far fa-building mr-1"></i> Company Profile</a></li>
            <li><a class="px-2 ml-3" href="messages.html"><i class="fas fa-envelope"></i></a></li>
            <li><a class="px-2" href="#"><i class="fas fa-bell"></i></a></li>
            <li><a class="pl-2 pr-0" href="#"><i class="fas fa-cog"></i></a></li>
          </ul>
        </nav>

        <a class="d-xl-none ml-auto" data-toggle="collapse" data-target="#mobileNav"><i class="d-xl-none fas fa-bars"></i></a>

        <nav id="mobileNav" class="collapse navbar-collapse">

          <ul>
            <li><a href="index.html">Students</a></li>
            <li><a href="events.html">Events</a></li>
          </ul>

        </nav>
      </div>
    </header>
    
    <main>

      <section>
        <div class="container">
          <div class="row">
            <div class="col-12 col-lg-8 mb-5 mb-lg-0">
              <div class="mr-lg-3">

                <div class="tab-content">
                  <div id="my-profile" class="tab-pane active card card-body">
                    <div class="row mb-5">
                      <div class="col-6 mx-auto mb-3 mb-md-0 col-md-3">
                        <img class="w-100 rounded-circle" src="../../images/avatar.png" />
                      </div>
                      <div class="col-12 col-md-9 text-center text-md-left">
                        <h2 class="m-0">Firstname Surname</h2>
                        <p class="lead">Professional Title &middot; <a href="#">Company</a></p>
                        <p>Minneapolis, MN</p>

                        <ul class="tags">
                          <li>Skill Name</li>
                          <li>Skill Name</li>
                          <li>Skill Name</li>
                        </ul>
                      </div>
                    </div>

                    <div class="mb-5">
                      <h3>Summary</h3>
                      <p>Aliquam est quam, consectetur sit amet mi vitae, bibendum ultricies magna. Suspendisse sed eros metus. Vivamus porta fermentum leo, id sagittis mi ullamcorper vel. In vehicula eget metus sagittis hendrerit. Cras maximus nisl ut viverra faucibus. Nulla eros mauris, ultricies et tempor sed, commodo sed arcu. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
                    </div>

                    <div class="mb-5">
                      <h3>Work and Volunteer Experience</h3>

                      <div class="card card-body">
                        <div class="d-flex justify-content-between mb-3">
                          <div>
                            <p class="lead m-0"><strong>Professional Title</strong></p>
                            <p class="m-0">Company Name &middot; Minneapolis, MN</p>
                          </div>
                          <span>October 2015 &ndash; October 2018</span>
                        </div>

                        <p>Aliquam est quam, consectetur sit amet mi vitae, bibendum ultricies magna. Suspendisse sed eros metus. Vivamus porta fermentum leo, id sagittis mi ullamcorper vel. In vehicula eget metus sagittis hendrerit. Cras maximus nisl ut viverra faucibus. Nulla eros mauris, ultricies et tempor sed, commodo sed arcu. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>

                        <ul class="tags">
                          <li>Skill Name</li>
                          <li>Skill Name</li>
                          <li>Skill Name</li>
                        </ul>
                      </div>
                    </div>

                    <div class="mb-5">
                      <h3>Education</h3>

                      <div class="card card-body">
                        <div class="d-flex justify-content-between">
                          <div>
                            <p class="lead m-0"><strong>Title/Degree</strong></p>
                            <p class="m-0">Institution Name &middot; Minneapolis, MN</p>
                          </div>
                          <span>October 2015 &ndash; October 2018</span>
                        </div>
                      </div>

                    </div>

                    <h3>Projects</h3>

                    <div class="card card-body">
                      <div class="d-flex justify-content-between mb-3">
                        <div>
                          <p class="lead m-0"><strong>Project Title</strong></p>
                        </div>
                      </div>

                      <p>Aliquam est quam, consectetur sit amet mi vitae, bibendum ultricies magna. Suspendisse sed eros metus.</p>

                      <p class="m-0"><a class="btn-arrow" href="#">Link Title</a></p>

                    </div>


                  </div>

                  <div id="edit-profile" class="tab-pane card card-body">
                    edit form
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 col-lg-4">
              <div class="mb-5">
                <a class="btn btn-secondary w-100" href="#">Message</a>
              </div>

              <hr class="mb-5" />

              <div class="card">
                <div class="card-header" style="background-image: url('../../images/hero.png');">
                </div>
                <div class="card-body">
                  <h4>Blog Post Title</h4>
                  <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla interdum luctus nunc quis sagittis.</p>
                </div>
                <div class="card-footer">
                  <a class="btn-arrow" href="#">Read more</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

    </main>
    <footer class="footer">
      <div class="container d-block d-md-flex align-items-center">
        <a class="logo" href="#">THE JOB PLUG</a>
        <p>&copy; 2019</p>

        <nav>
          <ul>
            <li><a href="about.html">About</a></li>
            <li><a href="marketing_blog.html">Blog</a></li>
            <li><a href="terms.html">Terms</a></li>
          </ul>
        </nav>

        <nav class="ml-auto">
          <ul>
            <li class="dropup"><a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Language</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">English</a>
                <a class="dropdown-item" href="#">Spanish</a>
              </div>
            </li>
            <li class="dropup"><a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-comments"></i></a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Purechat widget</a>
              </div>
            </li>
            <li><a href="faq.html"><i class="fas fa-question-circle"></i></a></li>
          </ul>
        </nav>
      </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
  </html>
