.footer{
  background: $tertiary;
  display: flex;
  align-items: center;
  padding: 1rem 0;
  border-top: 1px solid $secondary;
  text-align: center;

  @media screen and (min-width: 768px){
    height: 60px;
    text-align: left;
  }

  .logo{
      display: block;
      padding: 1rem;

      @media screen and (min-width: 768px){
        padding: 1rem 1rem 1rem 0;
      }
  }

  p{
    margin: 0;
    padding: 1rem;
  }

  nav{
    ul{
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;

      @media screen and (min-width: 768px){
        justify-content: left;
      }

      li{
        a{
            display: block;
            padding: 1rem;
        }
      }
    }
  }
}
