<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/output.css">

    <title>High-fidelity Wireframes</title>
  </head>
  <body>

    <header class="header">
      <div class="container d-flex align-items-center">
        <a class="logo" href="index.html">THE JOB PLUG</a>

        <nav class="d-none d-lg-block">
          <ul>
            <li><a href="my_network.html">My Network</a></li>
            <li><a href="manage_jobs.html">Manage Jobs</a></li>
            <li><a href="manage_events.html">Manage Events</a></li>
          </ul>
        </nav>

        <nav class="ml-auto d-none d-lg-block">
          <ul>
            <li><a class="btn btn-secondary btn-sm" href="profile.html"><i class="far fa-address-card mr-1"></i> Profile</a></li>
            <li><a class="btn btn-secondary btn-sm ml-3" href="profile-company.html"><i class="far fa-building mr-1"></i> Company Profile</a></li>
            <li><a class="px-2 ml-3" href="messages.html"><i class="fas fa-envelope"></i></a></li>
            <li><a class="px-2" href="#"><i class="fas fa-bell"></i></a></li>
            <li><a class="pl-2 pr-0" href="#"><i class="fas fa-cog"></i></a></li>
          </ul>
        </nav>

        <a class="d-xl-none ml-auto" data-toggle="collapse" data-target="#mobileNav"><i class="d-xl-none fas fa-bars"></i></a>

        <nav id="mobileNav" class="collapse navbar-collapse">

          <ul>
            <li><a href="my_network.html">My Network</a></li>
            <li><a href="manage_jobs.html">Manage Jobs</a></li>
            <li><a href="manage_events.html">Manage Events</a></li>
          </ul>

        </nav>
      </div>
    </header>

    <main>

      <section>
        <div class="container">

          <div class="row">
            <div class="col-xs-12 col-md-8">
              <div class="mr-md-3">

                <article>

                  <div class="d-block d-xl-flex align-items-baseline mb-3">
                    <h1 class="mb-3 mb-xl-0 mr-3 text-left">Job position title</h1>

                    <small class="ml-auto" href="#applicants">11 Applicants</small>
                    <a class="btn btn-secondary btn-sm ml-3" href="#"><i class="far fa-edit"></i> Edit</a>
                    <a class="btn btn-secondary btn-sm ml-3" href="#"><i class="far fa-clone"></i> Duplicate</a>
                    <a class="btn btn-secondary btn-sm ml-3" href="#"><i class="far fa-trash-alt"></i> Delete</a>
                  </div>

                  <p>Posted 1 day ago &nbsp;&middot;&nbsp; 11 applicants</a>
                  <p><a href="#">Company Name</a> &nbsp;&middot;&nbsp; <i class="fas fa-map-marker-alt"></i> Anywhere &nbsp;&middot;&nbsp; <a class="badge badge-primary">Internship</a></p>

                  <ul class="tags mb-5">
                    <li>Skill Name</li>
                    <li>Skill Name</li>
                    <li>Skill Name</li>
                  </ul>

                  <p>Sed sed purus finibus, pretium felis et, sollicitudin eros. Suspendisse consectetur neque lorem, eu congue dui efficitur id. Aenean vulputate ligula felis, vitae vulputate sem mattis aliquam. Praesent dapibus tincidunt neque vitae porttitor. Aliquam faucibus elit ac volutpat suscipit. Quisque ut vestibulum enim. Integer vehicula imperdiet ante sit amet rhoncus. Nam vel elit eget odio hendrerit ornare.</p>
                  <p>Sed sed purus finibus, pretium felis et, sollicitudin eros. Suspendisse consectetur neque lorem, eu congue dui efficitur id. Aenean vulputate ligula felis, vitae vulputate sem mattis aliquam. Praesent dapibus tincidunt neque vitae porttitor. Aliquam faucibus elit ac volutpat suscipit. Quisque ut vestibulum enim. Integer vehicula imperdiet ante sit amet rhoncus. Nam vel elit eget odio hendrerit ornare.</p>
                  <p>Sed sed purus finibus, pretium felis et, sollicitudin eros. Suspendisse consectetur neque lorem, eu congue dui efficitur id. Aenean vulputate ligula felis, vitae vulputate sem mattis aliquam. Praesent dapibus tincidunt neque vitae porttitor. Aliquam faucibus elit ac volutpat suscipit. Quisque ut vestibulum enim. Integer vehicula imperdiet ante sit amet rhoncus. Nam vel elit eget odio hendrerit ornare.</p>
                </article>

              </div>
            </div>

            <div class="col-xs-12 col-md-4">
              <div class="ml-md-3">

                <h3>Application Stats</h3>
                <div class="mb-5">
                  <div class="row d-flex align-items-center mb-3">
                    <div class="col-6">
                      <img class="mb-3 w-100" src="../../images/bar_graph.png">
                    </div>
                    <div class="col-6">
                      <p>
                        18 Total<br />
                        8/18 Viewed<br />
                        4/18 Active
                      </p>
                    </div>
                  </div>

                  <p class="text-center m-0"><a href=#applications class="btn btn-primary">See all applications</a></p>
                </div>

            </div>
          </div>
        </div>
      </section>

      <section id="applications" class="background-tertiary">
        <div class="container">

          <h1 class="text-left">Applications</h1>

          <div class="accordion accordion-unstyled" id="applicantsAccordion">

            <div class="card mb-5">
              <div class="card-header" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <div class="row">
                  <div class="col-3 col-md-2">
                    <img class="rounded-circle w-100" src="../../images/avatar.png" />
                  </div>
                  <div class="col-9 col-md-10">
                    <h2 class="m-0">Firstname Surname</h2>
                    <p class="lead">Professional Title &middot; <a href="#">Company</a></p>
                    <p>Minneapolis, MN</p>

                    <ul class="tags">
                      <li>Skill Name</li>
                      <li>Skill Name</li>
                      <li>Skill Name</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div id="collapseOne" class="collapse card-body" aria-labelledby="headingOne" data-parent="#applicantsAccordion">
                <h2>Cover Letter</h2>
                <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>

                <a class="btn btn-secondary" href="#">Download Resume</a>
                <a class="btn btn-secondary ml-3" href="#">View Profile</a>
                <a class="btn btn-secondary ml-3" href="#">Message</a>
              </div>
            </div>

            <div class="card mb-5">
              <div class="card-header" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
                <div class="row">
                  <div class="col-3 col-md-2">
                    <img class="rounded-circle w-100" src="../../images/avatar.png" />
                  </div>
                  <div class="col-9 col-md-10">
                    <h2 class="m-0">Firstname Surname</h2>
                    <p class="lead">Professional Title &middot; <a href="#">Company</a></p>
                    <p>Minneapolis, MN</p>

                    <ul class="tags">
                      <li>Skill Name</li>
                      <li>Skill Name</li>
                      <li>Skill Name</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div id="collapseTwo" class="collapse card-body" aria-labelledby="headingOne" data-parent="#applicantsAccordion">
                <h2>Cover Letter</h2>
                <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>

                <a class="btn btn-secondary" href="#">Download Resume</a>
                <a class="btn btn-secondary ml-3" href="#">View Profile</a>
                <a class="btn btn-secondary ml-3" href="#">Message</a>
              </div>
            </div>

            <div class="card mb-5">
              <div class="card-header" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseOne">
                <div class="row">
                  <div class="col-3 col-md-2">
                    <img class="rounded-circle w-100" src="../../images/avatar.png" />
                  </div>
                  <div class="col-9 col-md-10">
                    <h2 class="m-0">Firstname Surname</h2>
                    <p class="lead">Professional Title &middot; <a href="#">Company</a></p>
                    <p>Minneapolis, MN</p>

                    <ul class="tags">
                      <li>Skill Name</li>
                      <li>Skill Name</li>
                      <li>Skill Name</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div id="collapseThree" class="collapse card-body" aria-labelledby="headingOne" data-parent="#applicantsAccordion">
                <h2>Cover Letter</h2>
                <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>

                <a class="btn btn-secondary" href="#">Download Resume</a>
                <a class="btn btn-secondary ml-3" href="#">View Profile</a>
                <a class="btn btn-secondary ml-3" href="#">Message</a>
              </div>
            </div>

            <div class="card">
              <div class="card-header" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseOne">
                <div class="row">
                  <div class="col-3 col-md-2">
                    <img class="rounded-circle w-100" src="../../images/avatar.png" />
                  </div>
                  <div class="col-9 col-md-10">
                    <h2 class="m-0">Firstname Surname</h2>
                    <p class="lead">Professional Title &middot; <a href="#">Company</a></p>
                    <p>Minneapolis, MN</p>

                    <ul class="tags">
                      <li>Skill Name</li>
                      <li>Skill Name</li>
                      <li>Skill Name</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div id="collapseFour" class="collapse card-body" aria-labelledby="headingOne" data-parent="#applicantsAccordion">
                <h2>Cover Letter</h2>
                <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>

                <a class="btn btn-secondary" href="#">Download Resume</a>
                <a class="btn btn-secondary ml-3" href="#">View Profile</a>
                <a class="btn btn-secondary ml-3" href="#">Message</a>
              </div>
            </div>

          </div>

        </div>
      </section>
    </main>

    <footer class="footer">
      <div class="container d-block d-md-flex align-items-center">
        <a class="logo" href="index.html">THE JOB PLUG</a>
        <p>&copy; 2019</p>

        <nav>
          <ul>
            <li><a href="../public/about.html">About</a></li>
            <li><a href="../public/marketing_blog.html">Blog</a></li>
            <li><a href="../public/terms.html">Terms</a></li>
          </ul>
        </nav>

        <nav class="ml-auto">
          <ul>
            <li class="dropup"><a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Language</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">English</a>
                <a class="dropdown-item" href="#">Spanish</a>
              </div>
            </li>
            <li class="dropup"><a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-comments"></i></a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Purechat widget</a>
              </div>
            </li>
            <li><a href="../public/faq.html"><i class="fas fa-question-circle"></i></a></li>
          </ul>
        </nav>
      </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
    </html>
