<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/output.css">

    <title>High-fidelity Wireframes</title>
  </head>
  <body>

    <header class="header">
      <div class="container d-flex align-items-center">
        <a class="logo" href="index.html">THE JOB PLUG</a>

        <nav class="d-none d-lg-block">
          <ul>
            <li><a href="my_network.html">My Network</a></li>
            <li><a href="manage_jobs.html">Manage Jobs</a></li>
            <li><a href="manage_events.html">Manage Events</a></li>
          </ul>
        </nav>

        <nav class="ml-auto d-none d-lg-block">
          <ul>
            <li><a class="btn btn-secondary btn-sm" href="profile.html"><i class="far fa-address-card mr-1"></i> Profile</a></li>
            <li><a class="btn btn-secondary btn-sm ml-3" href="profile-company.html"><i class="far fa-building mr-1"></i> Company Profile</a></li>
            <li><a class="px-2 ml-3" href="messages.html"><i class="fas fa-envelope"></i></a></li>
            <li><a class="px-2" href="#"><i class="fas fa-bell"></i></a></li>
            <li><a class="pl-2 pr-0" href="#"><i class="fas fa-cog"></i></a></li>
          </ul>
        </nav>

        <a class="d-xl-none ml-auto" data-toggle="collapse" data-target="#mobileNav"><i class="d-xl-none fas fa-bars"></i></a>

        <nav id="mobileNav" class="collapse navbar-collapse">

          <ul>
            <li><a href="my_network.html">My Network</a></li>
            <li><a href="manage_jobs.html">Manage Jobs</a></li>
            <li><a href="manage_events.html">Manage Events</a></li>
          </ul>

        </nav>
      </div>
    </header>

    <main>

      <section>
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-md-4">
              <div class="mr-md-3">

                <h3 class="mb-5">Message Threads</h3>

                <ul class="list list-users mb-5">
                  <li>
                    <img class="rounded-circle" src="../../images/avatar.png">
                    <div>
                      <h4>Firstname Surname</h4>
                      <p>2 unread messages</p>
                    </div>
                  </li>
                  <li>
                    <img class="rounded-circle" src="../../images/avatar.png">
                    <div>
                      <h4>Firstname Surname</h4>
                      <p>2 unread messages</p>
                    </div>
                  </li>
                  <li>
                    <img class="rounded-circle" src="../../images/avatar.png">
                    <div>
                      <h4>Firstname Surname</h4>
                      <p>2 unread messages</p>
                    </div>
                  </li>
                </ul>

                <a class="btn btn-primary d-block" href="#">New Message</a>

              </div>
            </div>
            <div class="col-xs-12 col-md-8">
              <div class="ml-md-3">

                <div class="d-flex mb-4">
                  <img width="90" height="90" class="d-none d-md-block mr-3 rounded-circle" src="../../images/avatar.png">
                  <div>
                    <h1 class="text-left mb-3">Lorem ipsum dolor amet set?</h1>
                    <p>Messaged April 29th, 2019 by <a href="#">username</a></p>
                  </div>
                </div>

                <div class="card card-forum mb-5">
                  <div class="card-body">
                    <p>Maecenas ut risus at nulla vestibulum pretium. Sed eleifend mi ac ante posuere, non congue ligula consequat. Mauris tincidunt mattis massa ut imperdiet. Nullam sit amet ipsum finibus, lobortis ex at, dignissim urna. In id varius diam. In velit sem, euismod ac tempus vitae, sagittis eget erat. Curabitur sit amet neque eget libero lacinia placerat in vitae leo. Proin malesuada, tortor in bibendum egestas, quam arcu tristique nulla, eget pretium eros justo porta turpis.</p> <p>Aliquam ultricies id leo sed viverra. Nulla quis ex arcu. Proin augue tellus, cursus id tempus et, congue et risus. Sed vitae turpis augue.</p>

                  </div>
                </div>

                <div class="card card-forum mb-5">
                  <div class="card-body">
                    <p>Maecenas ut risus at nulla vestibulum pretium. Sed eleifend mi ac ante posuere, non congue ligula consequat. Mauris tincidunt mattis massa ut imperdiet. Nullam sit amet ipsum finibus, lobortis ex at, dignissim urna. In id varius diam. In velit sem, euismod ac tempus vitae, sagittis eget erat. Curabitur sit amet neque eget libero lacinia placerat in vitae leo. Proin malesuada, tortor in bibendum egestas, quam arcu tristique nulla, eget pretium eros justo porta turpis.</p> <p>Aliquam ultricies id leo sed viverra. Nulla quis ex arcu. Proin augue tellus, cursus id tempus et, congue et risus. Sed vitae turpis augue.</p>
                  </div>
                </div>

                <form>
                  <h2>Message</h2>
                  <div class="form-group">
                    <textarea rows="5" class="form-control" placeholder="Comment"></textarea>
                  </div>
                  <p class="text-right"><input class="btn btn-primary" type="submit" value="Send" /></p>
                </form>

              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <footer class="footer">
      <div class="container d-block d-md-flex align-items-center">
        <a class="logo" href="index.html">THE JOB PLUG</a>
        <p>&copy; 2019</p>

        <nav>
          <ul>
            <li><a href="../public/about.html">About</a></li>
            <li><a href="../public/marketing_blog.html">Blog</a></li>
            <li><a href="../public/terms.html">Terms</a></li>
          </ul>
        </nav>

        <nav class="ml-auto">
          <ul>
            <li class="dropup"><a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Language</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">English</a>
                <a class="dropdown-item" href="#">Spanish</a>
              </div>
            </li>
            <li class="dropup"><a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-comments"></i></a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Purechat widget</a>
              </div>
            </li>
            <li><a href="../public/faq.html"><i class="fas fa-question-circle"></i></a></li>
          </ul>
        </nav>
      </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
    </html>
