<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/output.css">

    <title>High-fidelity Wireframes</title>
  </head>
  <body>

    <header class="header">
      <div class="container d-flex align-items-center">
        <a class="logo" href="../../index.html">THE JOB PLUG</a>

        <nav class="d-none d-xl-block">
          <ul>
            <li><a href="jobs.html">Jobs</a>
              <div class="sub-menu">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-4">
                      <h3>Jobs Near Location Name</h3>

                      <ul class="list list-jobs">
                        <li>
                          <img src="../../images/logo.png">
                          <div>
                            <h4>Barista</h4>
                            <p>Company Name &nbsp;&middot;&nbsp; <i class="fas fa-map-marker-alt"></i> Anywhere &nbsp;&middot;&nbsp; <span class="badge badge-primary">Internship</span></p>
                          </div>
                        </li>
                        <li>
                          <img src="../../images/logo.png">
                          <div>
                            <h4>Cashier</h4>
                            <p>Company Name &nbsp;&middot;&nbsp; <i class="fas fa-map-marker-alt"></i> Anywhere &nbsp;&middot;&nbsp; <span class="badge badge-primary">Internship</span></p>
                          </div>
                        </li>
                        <li>
                          <img src="../../images/logo.png">
                          <div>
                            <h4>Web Developer Intern</h4>
                            <p>Company Name &nbsp;&middot;&nbsp; <i class="fas fa-map-marker-alt"></i> Anywhere &nbsp;&middot;&nbsp; <span class="badge badge-primary">Internship</span></p>
                          </div>
                        </li>
                      </ul>

                    </div>
                    <div class="col-lg-4">
                      <h3>Job Categories</h3>
                      <ul class="columns-2">
                        <li><a href="#">Lorem ipsum</a></li>
                        <li><a href="#">Dolor sit</a></li>
                        <li><a href="#">Consectetuer</a></li>
                        <li><a href="#">Adipiscing elit</a></li>
                        <li><a href="#">Diam</a></li>
                        <li><a href="#">Nonummy nibh</a></li>
                        <li><a href="#">Tincidunt</a></li>
                        <li><a href="#">Ut laoreet</a></li>
                        <li><a href="#">Magna</a></li>
                        <li><a href="#">Consectetuer</a></li>
                        <li><a href="#">Lorem ipsum</a></li>
                        <li><a href="#">Dolor sit</a></li>
                        <li><a href="#">Consectetuer</a></li>
                        <li><a href="#">Adipiscing elit</a></li>
                        <li><a href="#">Diam</a></li>
                        <li><a href="#">Nonummy nibh</a></li>
                        <li><a href="#">Tincidunt</a></li>
                        <li><a href="#">Ut laoreet</a></li>
                      </ul>
                    </div>
                    <div class="col-lg-4">
                      <div class="d-flex mb-5">
                        <a href="resume_builder.html"><img width="90" class="mt-1 rounded mr-3" src="https://via.placeholder.com/425x550"></a>
                        <div>
                          <h3>Resume Builder</h3>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                          <p><a class="btn-arrow" href="#">Create your resume</a></p>
                        </div>
                      </div>

                      <div class="d-flex">
                        <a href="resume_builder.html"><img width="90" class="mt-1 rounded mr-3" src="https://via.placeholder.com/425x550"></a>
                        <div>
                          <h3>Business Plan Builder</h3>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                          <p><a class="btn-arrow" href="#">Create your business plan</a></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li><a href="events.html">Events</a>
              <div class="sub-menu">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-4">
                      <h3>Events Near Location Name</h3>

                      <ul class="list list-events">
                        <li>
                          <img src="../../images/logo.png">
                          <div>
                            <h4>Lorem ipsum dolor sit amet</h4>
                            <p><i class="fas fa-map-marker-alt"></i> Location &nbsp;&middot;&nbsp; <span class="badge badge-primary">Category</span></p>
                          </div>
                        </li>
                        <li>
                          <img src="../../images/logo.png">
                          <div>
                            <h4>Event Name</h4>
                            <p><i class="fas fa-map-marker-alt"></i> Online Webinar &nbsp;&middot;&nbsp; <span class="badge badge-primary">Category</span></p>
                          </div>
                        </li>
                        <li>
                          <img src="../../images/logo.png">
                          <div>
                            <h4>Event Name</h4>
                            <p><i class="fas fa-map-marker-alt"></i> Location &nbsp;&middot;&nbsp; <span class="badge badge-primary">Category</span></p>
                          </div>
                        </li>
                      </ul>

                    </div>
                    <div class="col-lg-4">
                      <h3>Event Categories</h3>
                      <ul class="columns-2">
                        <li><a href="#">Lorem ipsum</a></li>
                        <li><a href="#">Dolor sit</a></li>
                        <li><a href="#">Consectetuer</a></li>
                        <li><a href="#">Adipiscing elit</a></li>
                        <li><a href="#">Diam</a></li>
                        <li><a href="#">Nonummy nibh</a></li>
                        <li><a href="#">Tincidunt</a></li>
                        <li><a href="#">Ut laoreet</a></li>
                        <li><a href="#">Magna</a></li>
                        <li><a href="#">Consectetuer</a></li>
                        <li><a href="#">Lorem ipsum</a></li>
                        <li><a href="#">Dolor sit</a></li>
                        <li><a href="#">Consectetuer</a></li>
                        <li><a href="#">Adipiscing elit</a></li>
                        <li><a href="#">Diam</a></li>
                        <li><a href="#">Nonummy nibh</a></li>
                        <li><a href="#">Tincidunt</a></li>
                        <li><a href="#">Ut laoreet</a></li>
                      </ul>
                    </div>
                    <div class="col-lg-4">

                        <img class="w-100 rounded mb-3" height="160" src="../../images/hero.png" />
                        <h4>Event Title</h4>
                        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla interdum luctus nunc quis sagittis.</p>
                        <p class="text-right m-0"><a class="btn-arrow" href="events-single.html">Read more</a></p>

                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li><a href="learning.html">Learning</a>
              <div class="sub-menu">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-4">
                      <h3>Categories</h3>
                      <ul class="columns-2">
                        <li><a href="#">Lorem ipsum</a></li>
                        <li><a href="#">Dolor sit</a></li>
                        <li><a href="#">Consectetuer</a></li>
                        <li><a href="#">Adipiscing elit</a></li>
                        <li><a href="#">Diam</a></li>
                        <li><a href="#">Nonummy nibh</a></li>
                        <li><a href="#">Tincidunt</a></li>
                        <li><a href="#">Ut laoreet</a></li>
                        <li><a href="#">Magna</a></li>
                        <li><a href="#">Consectetuer</a></li>
                        <li><a href="#">Lorem ipsum</a></li>
                        <li><a href="#">Dolor sit</a></li>
                        <li><a href="#">Consectetuer</a></li>
                        <li><a href="#">Adipiscing elit</a></li>
                        <li><a href="#">Diam</a></li>
                        <li><a href="#">Nonummy nibh</a></li>
                        <li><a href="#">Tincidunt</a></li>
                        <li><a href="#">Ut laoreet</a></li>
                      </ul>
                    </div>
                    <div class="col-lg-4">
                        <img class="w-100 rounded mb-3" height="160" src="../../images/hero.png" />
                        <h4>Featured Blog Post Title</h4>
                        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla interdum luctus nunc quis sagittis.</p>
                        <p class="text-right m-0"><a class="btn-arrow" href="blogs-single.html">Read more</a></p>
                    </div>
                    <div class="col-lg-4">
                        <img class="w-100 rounded mb-3" height="160" src="../../images/hero.png" />
                        <h4>Interview Simulator</h4>
                        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla interdum luctus nunc quis sagittis.</p>
                        <p class="text-right m-0"><a class="btn-arrow" href="login.html">Try it out</a></p>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li><a href="forums.html">Forums</a>
              <div class="sub-menu">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-4">
                      <h3>Latest Posts</h3>

                      <ul class="list list-jobs">
                        <li>
                          <img src="../../images/logo.png">
                          <div>
                            <h4>Barista</h4>
                            <p>Company Name &nbsp;&middot;&nbsp; <i class="fas fa-map-marker-alt"></i> Anywhere &nbsp;&middot;&nbsp; <span class="badge badge-primary">Internship</span></p>
                          </div>
                        </li>
                        <li>
                          <img src="../../images/logo.png">
                          <div>
                            <h4>Cashier</h4>
                            <p>Company Name &nbsp;&middot;&nbsp; <i class="fas fa-map-marker-alt"></i> Anywhere &nbsp;&middot;&nbsp; <span class="badge badge-primary">Internship</span></p>
                          </div>
                        </li>
                        <li>
                          <img src="../../images/logo.png">
                          <div>
                            <h4>Web Developer Intern</h4>
                            <p>Company Name &nbsp;&middot;&nbsp; <i class="fas fa-map-marker-alt"></i> Anywhere &nbsp;&middot;&nbsp; <span class="badge badge-primary">Internship</span></p>
                          </div>
                        </li>
                      </ul>

                    </div>
                    <div class="col-lg-4">
                      <h3>Forum Topics</h3>
                      <ul class="columns-2">
                        <li><a href="#">Lorem ipsum</a></li>
                        <li><a href="#">Dolor sit</a></li>
                        <li><a href="#">Consectetuer</a></li>
                        <li><a href="#">Adipiscing elit</a></li>
                        <li><a href="#">Diam</a></li>
                        <li><a href="#">Nonummy nibh</a></li>
                        <li><a href="#">Tincidunt</a></li>
                        <li><a href="#">Ut laoreet</a></li>
                        <li><a href="#">Magna</a></li>
                        <li><a href="#">Consectetuer</a></li>
                        <li><a href="#">Lorem ipsum</a></li>
                        <li><a href="#">Dolor sit</a></li>
                        <li><a href="#">Consectetuer</a></li>
                        <li><a href="#">Adipiscing elit</a></li>
                        <li><a href="#">Diam</a></li>
                        <li><a href="#">Nonummy nibh</a></li>
                        <li><a href="#">Tincidunt</a></li>
                        <li><a href="#">Ut laoreet</a></li>
                      </ul>
                    </div>
                    <div class="col-lg-4">
                      <img class="w-100 rounded mb-3" height="140" src="../../images/hero.png" />
                      <h4>Join the conversation</h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla interdum luctus nunc quis sagittis.</p>
                      <p class="text-center m-0"><a class="btn btn-primary" href="signup_jobSearcher.html">Sign Up</a></p>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </nav>

        <nav class="ml-auto d-none d-xl-block">
          <ul>
            <li><a href="signup_noUserType.html">Sign Up</a></li>
            <li class="position-relative"><a class="btn btn-secondary" href="#" data-toggle="collapse" data-target="#headerLogin">Log In</a>
              <div id="headerLogin" class="collapse">
                <div class="px-3 py-3">

                  <div class="d-flex">
                    <a class="btn btn-primary" href="#">Login with Google</a>
                    <a class="btn btn-primary ml-3" href="#">Login with LinkedIn</a>
                  </div>

                  <hr class="or" />

                  <form>

                    <div class="form-group">
                      <input class="form-control" type="text" placeholder="Username or Email" />
                    </div>

                    <div class="form-group">
                      <input class="form-control" type="password" placeholder="password" />
                    </div>

                    <input class="btn btn-primary" type="submit" value="Login" />

                  </form>
                </div>

              </div>
            </li>
          </ul>
        </nav>

        <a class="d-xl-none ml-auto btn btn-default btn-sm" href="signup_noUserType.html">Sign Up</a></li>
        <a class="d-xl-none btn btn-secondary btn-sm" href="login.html">Log In</a>
        <a class="d-xl-none ml-3" data-toggle="collapse" data-target="#mobileNav"><i class="d-xl-none fas fa-bars"></i></a>

        <nav id="mobileNav" class="collapse navbar-collapse">

          <ul>
            <li><a href="jobs.html">Jobs</a>
              <ul>
                <li><a href="jobs.html">Search for jobs</a></li>
                <li><a href="signup_employer.html">Post a job</a></li>
              </ul>
            </li>
            <li><a href="events.html">Events</a></li>
            <li><a href="learning.html">Learning</a></li>
            <li><a href="forums.html">Forums</a></li>
          </ul>

        </nav>
      </div>
    </header>

    <main>
      <section class="hero hero-full">
        <div class="container">

          <h1>Lorem ipsum doler amet set</h1>

          <div class="row">
            <div class="col-12 col-md-8 mx-auto">
              <div class="row">
                <div class="col-12 col-md-6 mb-5">
                  <div class="card card-body">
                    <h2 class="text-center mb-3">Find a Job</h2>
                    <p>Vivamus sit amet ante congue, vestibulum nunc in, sodales dui. Etiam placerat semper tortor, ut bibendum turpis rutrum ut.</p>

                    <ul>
                      <li>Integer pharetra volutpat vestibulum.</li>
                      <li>Sed non nisi sit amet nulla condimentum malesuada.</li>
                      <Li>Integer hendrerit nulla sit amet odio sodales imperdiet.</li>
                    </ul>

                    <p class="text-center"><a class="btn btn-secondary" href="signup_jobSearcher.html">Sign Up</a></p>
                  </div>
                </div>
                <div class="col-12 col-md-6 mb-5">
                  <div class="card card-body">
                    <h2 class="text-center mb-3">Post a Job</h2>
                    <p>Vivamus sit amet ante congue, vestibulum nunc in, sodales dui. Etiam placerat semper tortor, ut bibendum turpis rutrum ut.</p>

                    <ul>
                      <li>Integer pharetra volutpat vestibulum.</li>
                      <li>Sed non nisi sit amet nulla condimentum malesuada.</li>
                      <Li>Integer hendrerit nulla sit amet odio sodales imperdiet.</li>
                    </ul>

                    <p class="text-center"><a class="btn btn-secondary" href="signup_employer.html">Sign Up</a></p>
                  </div>
                </div>
              </div>

              <div class="card card-body">
                <p class="text-center m-0"><a href="signup_educator.html"><strong>Are you an educator?</strong><br>Learn about creating a classroom.</a></a>
              </div>
            </div>
          </div>

        </div>
      </section>
    </main>

    <footer class="footer">
      <div class="container d-block d-md-flex align-items-center">
        <a class="logo" href="#">THE JOB PLUG</a>
        <p>&copy; 2019</p>

        <nav>
          <ul>
            <li><a href="about.html">About</a></li>
            <li><a href="marketing_blog.html">Blog</a></li>
            <li><a href="terms.html">Terms</a></li>
          </ul>
        </nav>

        <nav class="ml-auto">
          <ul>
            <li class="dropup"><a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Language</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">English</a>
                <a class="dropdown-item" href="#">Spanish</a>
              </div>
            </li>
            <li class="dropup"><a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-comments"></i></a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Purechat widget</a>
              </div>
            </li>
            <li><a href="faq.html"><i class="fas fa-question-circle"></i></a></li>
          </ul>
        </nav>
      </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
