<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/output.css">

    <title>High-fidelity Wireframes</title>
  </head>
  <body>

    <header class="header">
      <div class="container d-flex align-items-center">
        <a class="logo" href="index.html">THE JOB PLUG</a>

        <nav class="d-none d-lg-block">
          <ul>
            <li><a href="my_network.html">My Network</a></li>
            <li><a href="jobs.html">Jobs</a>
              <div class="sub-menu">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-4">
                      <h3>Jobs Near Location Name</h3>

                      <ul class="list list-jobs">
                        <li>
                          <img src="../../images/logo.png">
                          <div>
                            <h4>Barista</h4>
                            <p>Company Name &nbsp;&middot;&nbsp; <i class="fas fa-map-marker-alt"></i> Anywhere &nbsp;&middot;&nbsp; <span class="badge badge-primary">Internship</span></p>
                          </div>
                        </li>
                        <li>
                          <img src="../../images/logo.png">
                          <div>
                            <h4>Cashier</h4>
                            <p>Company Name &nbsp;&middot;&nbsp; <i class="fas fa-map-marker-alt"></i> Anywhere &nbsp;&middot;&nbsp; <span class="badge badge-primary">Internship</span></p>
                          </div>
                        </li>
                        <li>
                          <img src="../../images/logo.png">
                          <div>
                            <h4>Web Developer Intern</h4>
                            <p>Company Name &nbsp;&middot;&nbsp; <i class="fas fa-map-marker-alt"></i> Anywhere &nbsp;&middot;&nbsp; <span class="badge badge-primary">Internship</span></p>
                          </div>
                        </li>
                      </ul>

                    </div>
                    <div class="col-lg-4">
                      <h3>Job Categories</h3>
                      <ul class="columns-2">
                        <li><a href="#">Lorem ipsum</a></li>
                        <li><a href="#">Dolor sit</a></li>
                        <li><a href="#">Consectetuer</a></li>
                        <li><a href="#">Adipiscing elit</a></li>
                        <li><a href="#">Diam</a></li>
                        <li><a href="#">Nonummy nibh</a></li>
                        <li><a href="#">Tincidunt</a></li>
                        <li><a href="#">Ut laoreet</a></li>
                        <li><a href="#">Magna</a></li>
                        <li><a href="#">Consectetuer</a></li>
                        <li><a href="#">Lorem ipsum</a></li>
                        <li><a href="#">Dolor sit</a></li>
                        <li><a href="#">Consectetuer</a></li>
                        <li><a href="#">Adipiscing elit</a></li>
                        <li><a href="#">Diam</a></li>
                        <li><a href="#">Nonummy nibh</a></li>
                        <li><a href="#">Tincidunt</a></li>
                        <li><a href="#">Ut laoreet</a></li>
                      </ul>
                    </div>
                    <div class="col-lg-4">
                      <div class="d-flex mb-5">
                        <a href="resume_builder.html"><img width="90" class="mt-1 rounded mr-3" src="https://via.placeholder.com/425x550"></a>
                        <div>
                          <h3>Resume Builder</h3>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                          <p><a class="btn-arrow" href="#">Create your resume</a></p>
                        </div>
                      </div>

                      <div class="d-flex">
                        <a href="resume_builder.html"><img width="90" class="mt-1 rounded mr-3" src="https://via.placeholder.com/425x550"></a>
                        <div>
                          <h3>Business Plan Builder</h3>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                          <p><a class="btn-arrow" href="#">Create your business plan</a></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li><a href="events.html">Events</a>
              <div class="sub-menu">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-4">
                      <h3>Events Near Location Name</h3>

                      <ul class="list list-events">
                        <li>
                          <img src="../../images/logo.png">
                          <div>
                            <h4>Lorem ipsum dolor sit amet</h4>
                            <p><i class="fas fa-map-marker-alt"></i> Location &nbsp;&middot;&nbsp; <span class="badge badge-primary">Category</span></p>
                          </div>
                        </li>
                        <li>
                          <img src="../../images/logo.png">
                          <div>
                            <h4>Event Name</h4>
                            <p><i class="fas fa-map-marker-alt"></i> Online Webinar &nbsp;&middot;&nbsp; <span class="badge badge-primary">Category</span></p>
                          </div>
                        </li>
                        <li>
                          <img src="../../images/logo.png">
                          <div>
                            <h4>Event Name</h4>
                            <p><i class="fas fa-map-marker-alt"></i> Location &nbsp;&middot;&nbsp; <span class="badge badge-primary">Category</span></p>
                          </div>
                        </li>
                      </ul>

                    </div>
                    <div class="col-lg-4">
                      <h3>Event Categories</h3>
                      <ul class="columns-2">
                        <li><a href="#">Lorem ipsum</a></li>
                        <li><a href="#">Dolor sit</a></li>
                        <li><a href="#">Consectetuer</a></li>
                        <li><a href="#">Adipiscing elit</a></li>
                        <li><a href="#">Diam</a></li>
                        <li><a href="#">Nonummy nibh</a></li>
                        <li><a href="#">Tincidunt</a></li>
                        <li><a href="#">Ut laoreet</a></li>
                        <li><a href="#">Magna</a></li>
                        <li><a href="#">Consectetuer</a></li>
                        <li><a href="#">Lorem ipsum</a></li>
                        <li><a href="#">Dolor sit</a></li>
                        <li><a href="#">Consectetuer</a></li>
                        <li><a href="#">Adipiscing elit</a></li>
                        <li><a href="#">Diam</a></li>
                        <li><a href="#">Nonummy nibh</a></li>
                        <li><a href="#">Tincidunt</a></li>
                        <li><a href="#">Ut laoreet</a></li>
                      </ul>
                    </div>
                    <div class="col-lg-4">

                        <img class="w-100 rounded mb-3" height="160" src="../../images/hero.png" />
                        <h4>Event Title</h4>
                        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla interdum luctus nunc quis sagittis.</p>
                        <p class="text-right m-0"><a class="btn-arrow" href="events-single.html">Read more</a></p>

                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li><a href="learning.html">Learning</a>
              <div class="sub-menu">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-4">
                      <h3>Categories</h3>
                      <ul class="columns-2">
                        <li><a href="#">Lorem ipsum</a></li>
                        <li><a href="#">Dolor sit</a></li>
                        <li><a href="#">Consectetuer</a></li>
                        <li><a href="#">Adipiscing elit</a></li>
                        <li><a href="#">Diam</a></li>
                        <li><a href="#">Nonummy nibh</a></li>
                        <li><a href="#">Tincidunt</a></li>
                        <li><a href="#">Ut laoreet</a></li>
                        <li><a href="#">Magna</a></li>
                        <li><a href="#">Consectetuer</a></li>
                        <li><a href="#">Lorem ipsum</a></li>
                        <li><a href="#">Dolor sit</a></li>
                        <li><a href="#">Consectetuer</a></li>
                        <li><a href="#">Adipiscing elit</a></li>
                        <li><a href="#">Diam</a></li>
                        <li><a href="#">Nonummy nibh</a></li>
                        <li><a href="#">Tincidunt</a></li>
                        <li><a href="#">Ut laoreet</a></li>
                      </ul>
                    </div>
                    <div class="col-lg-4">
                        <img class="w-100 rounded mb-3" height="160" src="../../images/hero.png" />
                        <h4>Featured Blog Post Title</h4>
                        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla interdum luctus nunc quis sagittis.</p>
                        <p class="text-right m-0"><a class="btn-arrow" href="blogs-single.html">Read more</a></p>
                    </div>
                    <div class="col-lg-4">
                        <img class="w-100 rounded mb-3" height="160" src="../../images/hero.png" />
                        <h4>Interview Simulator</h4>
                        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla interdum luctus nunc quis sagittis.</p>
                        <p class="text-right m-0"><a class="btn-arrow" href="learning-interview_simulator.html">Try it out</a></p>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li><a href="forums.html">Forums</a>
              <div class="sub-menu">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-4">
                      <h3>Latest Posts</h3>

                      <ul class="list list-jobs">
                        <li>
                          <img src="../../images/logo.png">
                          <div>
                            <h4>Barista</h4>
                            <p>Company Name &nbsp;&middot;&nbsp; <i class="fas fa-map-marker-alt"></i> Anywhere &nbsp;&middot;&nbsp; <span class="badge badge-primary">Internship</span></p>
                          </div>
                        </li>
                        <li>
                          <img src="../../images/logo.png">
                          <div>
                            <h4>Cashier</h4>
                            <p>Company Name &nbsp;&middot;&nbsp; <i class="fas fa-map-marker-alt"></i> Anywhere &nbsp;&middot;&nbsp; <span class="badge badge-primary">Internship</span></p>
                          </div>
                        </li>
                        <li>
                          <img src="../../images/logo.png">
                          <div>
                            <h4>Web Developer Intern</h4>
                            <p>Company Name &nbsp;&middot;&nbsp; <i class="fas fa-map-marker-alt"></i> Anywhere &nbsp;&middot;&nbsp; <span class="badge badge-primary">Internship</span></p>
                          </div>
                        </li>
                      </ul>

                    </div>
                    <div class="col-lg-4">
                      <h3>Forum Topics</h3>
                      <ul class="columns-2">
                        <li><a href="#">Lorem ipsum</a></li>
                        <li><a href="#">Dolor sit</a></li>
                        <li><a href="#">Consectetuer</a></li>
                        <li><a href="#">Adipiscing elit</a></li>
                        <li><a href="#">Diam</a></li>
                        <li><a href="#">Nonummy nibh</a></li>
                        <li><a href="#">Tincidunt</a></li>
                        <li><a href="#">Ut laoreet</a></li>
                        <li><a href="#">Magna</a></li>
                        <li><a href="#">Consectetuer</a></li>
                        <li><a href="#">Lorem ipsum</a></li>
                        <li><a href="#">Dolor sit</a></li>
                        <li><a href="#">Consectetuer</a></li>
                        <li><a href="#">Adipiscing elit</a></li>
                        <li><a href="#">Diam</a></li>
                        <li><a href="#">Nonummy nibh</a></li>
                        <li><a href="#">Tincidunt</a></li>
                        <li><a href="#">Ut laoreet</a></li>
                      </ul>
                    </div>
                    <div class="col-lg-4">
                      <img class="w-100 rounded mb-3" height="140" src="../../images/hero.png" />
                      <h4>Join the conversation</h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla interdum luctus nunc quis sagittis.</p>
                      <p class="text-center m-0"><a class="btn btn-primary" href="forums.html">Create a post</a></p>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </nav>

        <nav class="ml-auto d-none d-lg-block">
          <ul>
            <li><a class="btn btn-secondary btn-sm" href="profile.html"><i class="far fa-address-card mr-1"></i> Resume</a></li>
            <li><a class="btn btn-secondary btn-sm ml-3" href="business_plans.html"><i class="fas fa-tasks mr-1"></i> Business Plans</a></li>
            <li><a class="px-2 ml-3" href="messages.html"><i class="fas fa-envelope"></i></a></li>
            <li><a class="px-2" href="#"><i class="fas fa-bell"></i></a></li>
            <li><a class="pl-2 pr-0" href="#"><i class="fas fa-cog"></i></a></li>
          </ul>
        </nav>

        <a class="d-lg-none px-2 ml-auto" href="messages.html"><i class="fas fa-envelope"></i></a>
        <a class="d-lg-none px-2" href="#"><i class="fas fa-bell"></i></a>
        <a class="d-lg-none pl-2 pr-0" href="#"><i class="fas fa-cog"></i></a>
        <a class="d-lg-none ml-3" data-toggle="collapse" data-target="#mobileNav"><i class="d-lg-none fas fa-bars"></i></a>

        <nav id="mobileNav" class="collapse navbar-collapse">

          <ul>
            <li><a href="my_network.html">My Network</a></li>
            <li><a href="jobs.html">Jobs</a></li>
            <li><a href="events.html">Events</a></li>
            <li><a href="learning.html">Learning</a></li>
            <li><a href="forums.html">Forums</a></li>
          </ul>

          <div class="d-flex justify-content-center container my-4">
            <a class="btn btn-secondary" href="profile.html"><i class="far fa-address-card mr-1"></i> My Resume</a>
            <a class="btn btn-secondary ml-3" href="business_plans.html"><i class="fas fa-tasks mr-1"></i> My Business Plans</a>
          </div>

        </nav>

      </div>
    </header>

    <main>
      <div class="container">
        <div class="row d-flex justify-content-between">
          <section class="col-12 col-md-3">
            <div class="mr-3">

              <h3>Choose an Interview</h3>

              <ul class="list-unstyled">
                <li><a href="#">Lorem ipsum dolor</a></li>
                <li><a href="#">Aliquam tincidun</a></li>
                <li><a href="#">Vestibulum auctore</a></li>
                <li><a href="#">Nunc dignissim</a></li>
                <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                <li><a href="#">Aliquam tincidn</a></li>
                <li><a href="#">Vestibulum auctore</a></li>
                <li><a href="#">Nunc dignissim</a></li>
              </ul>

            </div>
          </section>

          <section class="col-12 col-md-6">
            <div class="ml-3 mr-3">

              <h3>Lorem ipsum dolor</h3>

              <div class="card card-body text-center">
                <h1>Lorem ipsum dolor sit amet, consectetuer adipiscing eli?</h1>

                <i class="fas fa-microphone-alt mb-5" style="font-size: 100px;"></i>

                <p><i class="fas fa-chevron-left"></i>&nbsp; 1 of 32 &nbsp;<i class="fas fa-chevron-right"></i></p>
              </div>

            </div>
          </section>

          <section class="col-12 col-md-3">
            <div class="ml-3">

              <h3>My Recordings</h3>

              <div class="card mb-3">
                <div class="card-body">
                  <p class="m-0"><strong>Lorem ipsum dolor</strong></p>
                  <small>May 4th, 2019 &nbsp;&middot;&nbsp; 3:14</small>
                </div>
                <div class="card-footer d-flex justify-content-between">
                  <a class="btn btn-primary btn-sm" href="#"><i class="fas fa-play"></i> Play</a>
                  <a class="btn btn-secondary btn-sm ml-3" href="#">Edit</a>
                  <a class="btn btn-secondary btn-sm ml-3" href="#">Delete</a>
                </div>
              </div>

              <div class="card mb-3">
                <div class="card-body">
                  <p class="m-0"><strong>Lorem ipsum dolor</strong></p>
                  <small>May 4th, 2019 &nbsp;&middot;&nbsp; 3:14</small>
                </div>
                <div class="card-footer d-flex justify-content-between">
                  <a class="btn btn-primary btn-sm" href="#"><i class="fas fa-play"></i> Play</a>
                  <a class="btn btn-secondary btn-sm ml-3" href="#">Edit</a>
                  <a class="btn btn-secondary btn-sm ml-3" href="#">Delete</a>
                </div>
              </div>

              <div class="card mb-3">
                <div class="card-body">
                  <p class="m-0"><strong>Lorem ipsum dolor</strong></p>
                  <small>May 4th, 2019 &nbsp;&middot;&nbsp; 3:14</small>
                </div>
                <div class="card-footer d-flex justify-content-between">
                  <a class="btn btn-primary btn-sm" href="#"><i class="fas fa-play"></i> Play</a>
                  <a class="btn btn-secondary btn-sm ml-3" href="#">Edit</a>
                  <a class="btn btn-secondary btn-sm ml-3" href="#">Delete</a>
                </div>
              </div>

            </div>
          </section>
        </div>
      </div>
    </main>

    <footer class="footer">
      <div class="container d-block d-md-flex align-items-center">
        <a class="logo" href="index.html">THE JOB PLUG</a>
        <p>&copy; 2019</p>

        <nav>
          <ul>
            <li><a href="../public/about.html">About</a></li>
            <li><a href="../public/marketing_blog.html">Blog</a></li>
            <li><a href="../public/terms.html">Terms</a></li>
          </ul>
        </nav>

        <nav class="ml-auto">
          <ul>
            <li class="dropup"><a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Language</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">English</a>
                <a class="dropdown-item" href="#">Spanish</a>
              </div>
            </li>
            <li class="dropup"><a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-comments"></i></a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Purechat widget</a>
              </div>
            </li>
            <li><a href="../public/faq.html"><i class="fas fa-question-circle"></i></a></li>
          </ul>
        </nav>
      </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
    </html>
