.carousel{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  white-space: nowrap;

  .slider-wrapper{
    position: relative;
    width: 100%;
    height: calc(100% - 70px);
    transition: transform ease-out 0.45s;

    .slide{
      position: relative;
      display: inline-block;
      height: 100%;
      width: 100%;
      
      .desktop{
        position: relative;
        width: 70%;

        .frame{
          position: relative;
          top: 0;
          left: 0;
          width: 100%;
          height: auto;
        }

        .website{
          overflow: auto;
          position: absolute;
          top: 8%;
          left: 48%;
          width: 74%;
          height: 0;
          margin-left: -35%;
          padding-top: 45%;
          border-radius: 3px;
          border: 2px solid rgba(0,0,0,.1);

          img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
          }
        }
      }

      .mobile{
        position: relative;
        width: 19.5%;

        .frame{
          position: relative;
          top: 0;
          left: 0;
          width: 100%;
          height: auto;
        }

        .website{
          overflow: auto;
          position: absolute;
          top: 16.5%;
          left: 50%;
          width: 78%;
          height: 0;
          margin-left: -38%;
          padding-top: 140%;
          border-radius: 3px;
          border: 2px solid rgba(0,0,0,.1);

          img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
          }
        }
      }
    }
  }

  .carousel-arrows{
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    background: rgba(#fff, 0.75);

    .back-arrow,
    .next-arrow{
      position: relative;
      margin: calc(1rem - 2px) 0;
      padding: 8px 10px;
      background: #fff;
      border: 1px dashed rgba($primary, 0.5);
      border-radius: 100%;
      width: 40px;
      height: 40px;
      font-size: 1.25rem;
      cursor: pointer;
      transition: all 0.25s ease;

      .fa{
        color: $primary;
      }

      &:hover{
        @extend .bg-gradient;
        color: #fff;
        border-color: transparent;

        .fa{
          color: #fff;
        }
      }
    }
  }
}
