@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

html,
body{
  font: normal 400 18px/150% 'Open Sans', sans-serif;
  color: #555;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, .h1,
h1 a, .h1 a{
  margin-bottom: 1rem;
  font-family: 'Nunito', sans-serif;
  color: $primary;
}

h2, .h2,
h2 a, .h2 a{
  margin-bottom: 1.5rem;
  font-family: 'Nunito', sans-serif;
  font-size: 24px;
  color: $secondary;
}

h3, .h3,
h3 a, .h3 a{
  margin-bottom: 1rem;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #999;
}

p{
  &.lead{
    font-family: 'Nunito';
    font-weight: 400;
    color: #666;
  }

  a{
    text-decoration: underline;
  }
}

a{
  color: $primary;
  transition: color 0.5s ease;

  &:hover{
    color: $secondary;
  }
}
