@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body{
  background-image: url('../images/bg.png');
  background-repeat: repeat;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 160%;
  color: #222;
}

.header{
  background-color: #fff;

  h1{
    position: relative;
    margin: 0 0 0.5rem;
    padding: 0;
    font-size: 2rem;
    font-weight: 700;
    color: #673571;
    text-transform: none;
    letter-spacing: 0;

    &::after{
      display: none;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
}

h1{
  position: relative;
  margin: 0 0 1.25rem;
  padding: 0 0 0.25rem;
  font-size: 1.25rem;
  font-weight: 600;
  color:#888;
  text-transform: uppercase;
  letter-spacing: 1px;

  &:after{
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 20px;
    height: 2px; 
    background: #888;
  }
}

h2{
  margin: 0 0 0.75rem;
  font-size: 2rem;
  font-weight: 500;
  color: #673571;
}

h3{
  margin: 0 0 1.25rem;
  padding: 0 0 0.25rem;
  font-size: 1.25rem;
  font-weight: 700;
  color: #673571;
}

h4{
  margin: 0 0 1rem;
  font-size: 1rem;
  font-weight: 600;
  color:#666;
}

ul{
  margin: 0 0 1.5rem;
  padding: 0;
  list-style: none;

  li{
    position: relative;
    padding: 0.25rem 0 0.25rem 1rem;

    &:before{
      content: '+';
      position: absolute;
      top: 3px;
      left: 0;
      font-weight: 700;
      color: rgba(0,0,0,0.75);
    }
  }
}

a{
  color: #A162af;
  text-decoration: none;
  transition: all 0.25s linear;

  &:hover{
    color: hotpink;
  }
}

hr{
  border-top: 3px dashed rgba(0,0,0,0.5);
}

.border-bottom{
  border-bottom: 1px dashed rgba(0,0,0,0.1) !important;
}

.list-styled{
  margin: 0;
  padding: 0;
  list-style: none;

  li{
    padding: 0.5rem 0;

    &:last-child{
      padding-bottom: 0;
    }

    &+li{
      border-top: 1px solid rgba(0,0,0,0.1);
    }

    &:before{
      display: none;
    }
  }
}

figure{
  margin: 0;

  img{
    margin: 0;
  }

  figcaption{
    margin: 0.25rem 0 0;
    font-weight: 600;
    font-size: 0.85rem;
  }
}

.lead{
  font-size: 1.25rem;
  font-weight: 400;
  color: #555;
}

.meta{
  font-weight: 600;
  color: #555;
}