@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');

body{
  background-image: url('../images/bg.png');
  background-repeat: repeat;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 160%;
  color: #333;
  overflow-x: hidden;
}

.header{
  background-color: #fff;

  h1{
    position: relative;
    margin: 0 0 0.75rem;
    padding: 0;
    font-size: 2.5rem;
    font-weight: 600;
    color: #673571;
    text-transform: none;
    letter-spacing: 0;

    &::after{
      display: none;
    }
  }

  h2{
    font-family: 'Alice', 'Garamond', 'Lato', Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    color: #777;
  }

  .hero{
    padding-top: 3rem;
    padding-bottom: 3rem;

    @media screen and (min-width: 768px) {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }

    @media screen and (min-width: 1200px) {
      padding-top: 4rem;
      padding-bottom: 3rem;
    }

    @media screen and (min-width: 1400px) {
      padding-top: 5rem;
      padding-bottom: 4rem;
    }

    .lead{
      font-family: 'Alice', 'Garamond', 'Lato', Arial, Helvetica, sans-serif;
      font-size: 1.15rem;
      line-height: 150%;
      margin-bottom: 2rem;
      color: #444;

      @media screen and (min-width: 1200px) {
        font-size: 1.25rem;
      }

      @media screen and (min-width: 1400px) {
        font-size: 1.45rem;
      }
    }

    .fa-lg{
      font-size: 1.75rem;
    }

    .fa-xl{
      font-size: 2rem;
    }
  }

  .character{
    display: none;
  }

  @media screen and (min-width: 1200px) {
    .character{
      display: block;
      width: 100%;
      position: absolute;
      bottom: -35px;

      #freepik--Robot--inject-397{
        cursor: pointer;
      }
    }
  }

  @media screen and (min-width: 1400px) {
    .character{
      bottom: -41px;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
}

h1{
  position: relative;
  margin: 0 0 1.25rem;
  padding: 0 0 0.25rem;
  font-size: 1.25rem;
  font-weight: 600;
  color:#666;
  text-transform: uppercase;
  letter-spacing: 1px;

  &:after{
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 30px;
    height: 2px; 
    background: #888;
  }
}

h2{
  margin: 0 0 0.5rem;
  font-size: 1.4rem;
  font-weight: 500;
  color: #673571;

  @media screen and (min-width: 544px) {
    margin: 0 0 0.75rem;
    font-size: 1.75rem;
  }
}

h3{
  margin: 0 0 0.5rem;
  padding: 0 0 0.25rem;
  font-size: 1.25rem;
  font-weight: 600;
  color: #673571;
}

h4{
  margin: 0 0 0.25rem;
  font-size: 1.15rem;
  font-weight: 600;
  color:#673571;
}

ul{
  margin: 0 0 1.5rem;
  padding: 0;
  list-style: none;

  li{
    position: relative;
    padding: 0.25rem 0 0.25rem 1rem;

    &:before{
      content: '+';
      position: absolute;
      top: 3px;
      left: 0;
      font-weight: 700;
      color: rgba(0,0,0,0.75);
    }
  }
}

a{
  color: #A162af;
  text-decoration: none;
  transition: all 0.25s linear;

  &:hover{
    color: palevioletred;
  }
}

hr{
  border-top: 3px dashed rgba(0,0,0,0.5);
}

.border-bottom{
  border-bottom: 1px dashed rgba(0,0,0,0.1) !important;
}

.list-styled{
  margin: 0;
  padding: 0;
  list-style: none;

  li{
    padding: 0.5rem 0;

    &:last-child{
      padding-bottom: 0;
    }

    &+li{
      border-top: 1px solid rgba(0,0,0,0.1);
    }

    &:before{
      display: none;
    }
  }
}

.portfolio-item{

  &+.portfolio-item{
    margin-top: 2rem;
  }

  background: rgba(255,255,255,0.3);
  backdrop-filter: blur(1px);
  padding: 1.5rem;
  border-radius: 8px;
  border: 1px solid #eee;
  border-left-width: 3px;
  border-left-color: palevioletred;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.15);

  .category{
    display: block;
    margin: 0 0 1rem;
    color: #666;
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  figure{
    position: relative;
    background-image: url('../images/mock-browser.svg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;

    @media screen and (min-width: 0) {
      width: 300px;
      height: 184px;
      padding: 36px 4px 4px 4px;
  
      & > a{
        display: block;
      }
  
      img{
        width: 100%;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
      }
  
      figcaption{
        position: absolute;
        top: 14px;
        left: 70px;
        font-size: 0.3rem;
  
        a{
          color: #333;
        }
      }
    }

    @media screen and (min-width: 544px) {
      width: 410px;
      height: 251px;
      padding: 49px 4px 4px 4px;
  
      & > a{
        display: block;
      }
  
      img{
        width: 100%;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
      }
  
      figcaption{
        position: absolute;
        position: absolute;
        top: 23.5px;
        left: 95px;
        font-size: 0.5rem;
  
        a{
          color: #333;
        }
      }
    }
  
    @media screen and (min-width: 1200px) {
      width: 598px;
      height: 366px;
      padding: 72px 8px 6px 8px;
  
      & > a{
        display: block;
      }
  
      img{
        width: 100%;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
      }
  
      figcaption{
        position: absolute;
        top: 41px;
        left: 135px;
        font-size: 0.6rem;
  
        a{
          color: #333;
        }
      }
    }
  }

  .details{
    margin-top: 1rem;
    display: flex;
    font-size: 0.85rem;
    line-height: 140%;
  }
}

.lead{
  font-size: 1.25rem;
  font-weight: 400;
  color: #555;
}

.meta{
  font-size: 1.1rem;
  font-weight: 600;
  color: #555;
}

.btn{
  padding: 0.5rem 1.25rem;
  font-weight: 600;
  border-width: 2px;
  border-top-left-radius: 16px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 16px;

  &.btn-primary{
    background-color: #673571;
    border-color: #673571;

    &:hover{
      background-color: palevioletred;
      border-color: palevioletred;
    }
  }

  &.btn-secondary{
    background-color: transparent;
    border-color: #673571;
    color: #673571;

    &:hover{
      background-color: transparent;
      border-color: palevioletred;
      color: palevioletred;
    }
  }
}