@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
body {
  background-image: url("../images/bg.png");
  background-repeat: repeat;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 160%;
  color: #333; }

.header {
  background-color: #fff; }
  .header h1 {
    position: relative;
    margin: 0 0 0.5rem;
    padding: 0;
    font-size: 2rem;
    font-weight: 700;
    color: #673571;
    text-transform: none;
    letter-spacing: 0; }
    .header h1::after {
      display: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', Helvetica, Arial, sans-serif; }

h1 {
  position: relative;
  margin: 0 0 1.25rem;
  padding: 0 0 0.25rem;
  font-size: 1.25rem;
  font-weight: 600;
  color: #666;
  text-transform: uppercase;
  letter-spacing: 1px; }
  h1:after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 30px;
    height: 2px;
    background: #888; }

h2 {
  margin: 0 0 0.75rem;
  font-size: 2rem;
  font-weight: 500;
  color: #673571; }

h3 {
  margin: 0 0 0.5rem;
  padding: 0 0 0.25rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: #673571; }

h4 {
  margin: 0 0 0.25rem;
  font-size: 1.15rem;
  font-weight: 600;
  color: #673571; }

ul {
  margin: 0 0 1.5rem;
  padding: 0;
  list-style: none; }
  ul li {
    position: relative;
    padding: 0.25rem 0 0.25rem 1rem; }
    ul li:before {
      content: '+';
      position: absolute;
      top: 3px;
      left: 0;
      font-weight: 700;
      color: rgba(0, 0, 0, 0.75); }

a {
  color: #A162af;
  text-decoration: none;
  transition: all 0.25s linear; }
  a:hover {
    color: palevioletred; }

hr {
  border-top: 3px dashed rgba(0, 0, 0, 0.5); }

.border-bottom {
  border-bottom: 1px dashed rgba(0, 0, 0, 0.1) !important; }

.list-styled {
  margin: 0;
  padding: 0;
  list-style: none; }
  .list-styled li {
    padding: 0.5rem 0; }
    .list-styled li:last-child {
      padding-bottom: 0; }
    .list-styled li + li {
      border-top: 1px solid rgba(0, 0, 0, 0.1); }
    .list-styled li:before {
      display: none; }

.portfolio-item {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(1px);
  padding: 1.5rem;
  border-radius: 8px;
  border: 1px solid #eee;
  border-left-width: 3px;
  border-left-color: palevioletred;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15); }
  .portfolio-item + .portfolio-item {
    margin-top: 2rem; }
  .portfolio-item .category {
    display: block;
    margin: 0 0 1rem;
    color: #666;
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px; }
  .portfolio-item figure {
    position: relative;
    background-image: url("../images/mock-browser.svg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0; }
    @media screen and (min-width: 1200px) {
      .portfolio-item figure {
        width: 598px;
        height: 366px;
        padding: 72px 8px 6px 8px; }
        .portfolio-item figure > a {
          display: block; }
        .portfolio-item figure img {
          width: 100%;
          border-bottom-left-radius: 8px;
          border-bottom-right-radius: 8px; }
        .portfolio-item figure figcaption {
          position: absolute;
          top: 41px;
          left: 135px;
          font-size: 0.6rem; }
          .portfolio-item figure figcaption a {
            color: #333; } }
  .portfolio-item .details {
    display: flex;
    align-items: center;
    font-size: 0.85rem;
    line-height: 140%; }

.lead {
  font-size: 1.25rem;
  font-weight: 400;
  color: #555; }

.meta {
  font-size: 1.1rem;
  font-weight: 600;
  color: #555; }

.btn {
  padding: 0.5rem 1.25rem;
  border-top-left-radius: 16px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 16px; }
  .btn.btn-primary {
    background-color: #673571;
    border-color: #673571; }
    .btn.btn-primary:hover {
      background-color: palevioletred;
      border-color: palevioletred; }

/*# sourceMappingURL=style.css.map */
