body{
  background: #fcfcfc;
}

.header{
  background-color: #e4f3f7;
}

a{
  color: teal;
}

.list-styled{
  margin: 0;
  padding: 0;
  list-style: none;

  li{
    padding: 0.5rem 0;

    &+li{
      border-top: 1px solid rgba(0,0,0,0.1);
    }
  }
}